body{
	background-color: lightgoldenrodyellow;
	
}
h1{
	font-size:30px;
	color:#0C33E3;
}

h2{
	font-size:25px;
	color:hotpink;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}